/**
 * @fileoverview Apariencia del sitio
 * @version 1.0
 * @author Wilson Ramirez Zuluaga <wramirez@misena.edu.co>
 * @copyright  wrz
 * ----
*/
:root{
    /**Variables*/
    --backgroundColor: #000000;
    --backgroundColorHeader: #000000;
    --backgroundColorFooter: #000000;
    --fontColor: #ffffff;
}
body{
    padding: 0;
    margin: 0px;
    font-family: 'Yantramanav';
}
.header{
    background-color: var(--backgroundColorHeader);
    position: fixed;
    top: 0;
    width: 100%;
    color: var(--fontColor);
    word-wrap: break-word;  
}
.header p{
    width: 100%;
    font-family: 'Pacifico';
}
.header nav{
    background-color: #333;
    width: 100%;
}
footer{
    background-color: var(--backgroundColorFooter);
    color: var(--fontColor);
    height: 45px;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
}
/**Menu*/
header.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
header.header ul li {
    float: left;
}
header.header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header.header ul li a:hover {
    background-color: #111;
}
/**Fin Menu**/
section{
    margin-top: 90px;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
   
}
.inicio{
    text-align: justify;
    padding: 15px;
    width:45%
}
/**Fuentes**/
@font-face{
    font-family: 'Caveat';
    src: url(../font/Caveat-VariableFont_wght.ttf) format("truetype");
    font-size: 20px;
}
@font-face{
    font-family: 'Yantramanav';
    src: url(../font/Yantramanav-Regular.ttf) format("truetype");
    font-size: 20px;
}
@font-face{
    font-family: 'Pacifico';
    src: url(../font/Pacifico-Regular.ttf) format("truetype");
    font-size: 20px;
}